
android/\.idea/
node_modules/

\.idea/sonarlint/issuestore/1/3/13f012f60e18f38225ce59137db2e07d5d70b29c

\.idea/sonarlint/issuestore/e/f/ef79bfd51db69a15dbf5807c05bb249bdccb0556

\.idea/sonarlint/issuestore/5/9/594ba479000e0bb5513707b709ad1cd52da9063a

\.idea/sonarlint/issuestore/a/4/a44f117a07597d287cedd2edb512680ab4b470f0

\.idea/sonarlint/issuestore/index\.pb

\.idea/workspace\.xml

\.idea/

drone/config/

drone/droneIstic\.pyc

drone/utils\.pyc
